IntervalDatasources/Service References/ServiceReference1/DataSourceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSourceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://scanerto2:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://scanerto2:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://scanerto2:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UptimesWCFContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSourceService_GetAllRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecords" />
  </wsdl:message>
  <wsdl:message name="IDataSourceService_GetAllRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSourceService_GetRecordsForPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsForPeriod" />
  </wsdl:message>
  <wsdl:message name="IDataSourceService_GetRecordsForPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsForPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSourceService">
    <wsdl:operation name="GetAllRecords">
      <wsdl:input wsam:Action="http://tempuri.org/IDataSourceService/GetAllRecords" message="tns:IDataSourceService_GetAllRecords_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataSourceService/GetAllRecordsResponse" message="tns:IDataSourceService_GetAllRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordsForPeriod">
      <wsdl:input wsam:Action="http://tempuri.org/IDataSourceService/GetRecordsForPeriod" message="tns:IDataSourceService_GetRecordsForPeriod_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDataSourceService/GetRecordsForPeriodResponse" message="tns:IDataSourceService_GetRecordsForPeriod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSourceService" type="tns:IDataSourceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRecords">
      <soap:operation soapAction="http://tempuri.org/IDataSourceService/GetAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordsForPeriod">
      <soap:operation soapAction="http://tempuri.org/IDataSourceService/GetRecordsForPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSourceService">
    <wsdl:port name="BasicHttpBinding_IDataSourceService" binding="tns:BasicHttpBinding_IDataSourceService">
      <soap:address location="http://scanerto2:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>