IntervalDatasources/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scanerto2:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UptimesWCFContract" />
  <xs:element name="GetAllRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UptimesWCFContract" minOccurs="0" name="GetAllRecordsResult" nillable="true" type="q1:ArrayOfProcessInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsForPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsForPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UptimesWCFContract" minOccurs="0" name="GetRecordsForPeriodResult" nillable="true" type="q2:ArrayOfProcessInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>