IntervalDatasources/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UptimesWCFContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UptimesWCFContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessInfo" nillable="true" type="tns:ArrayOfProcessInfo" />
  <xs:complexType name="ProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
</xs:schema>